<div id="Agerskoild">
  <h1>Agerskiold</h1>
  <p>Agerskiold is a website where you can see the stylish artwork of the famous creator himself</p>
</div>
<div id="galleryAndAbout">
  <a href="./index">Gallery</a>
  <a href="./stories">Stories</a>
  <a href="./about">About</a>
</div>