<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section>
            <h2>Stories</h2>
            <p>Agerskiold's stories</p>
            <br>

        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>